@import "../../style/variables.scss";

nav {
  position: fixed;
  z-index: 3;
  padding: $padS $padS $padS $padS;
  width: 100%;
  height: 100%;
  left: 0;
  pointer-events: none;

  &.open {
    pointer-events: all;
  }

  .menuburger {
    transition: opacity 400ms;
    opacity: 0;
    margin-top: 3px;

    &.active {
      opacity: 1;
    }
  }

  ul {
    list-style-type: none;
    justify-self: center;
  }

  li {
    position: relative;
    display: block;

    div {
      display: inline-block;
    }

    &:not(:last-of-type) {
      div {
        border-bottom: 1px solid $primary;
      }

    }

    a {
      padding: $padS $padS $padS 0;
      font-weight: 600;
      font-size: 26px;
      display: block;
      color: $primary;
      text-decoration: none;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}
