@import "../../style/variables.scss";

.lazyImg {
  position: relative;

  .imgWrapper {
    img {
      display: block;
      text-align: center;
      height: auto;
      max-width: 100%;
      padding: 12px $padM 12px $padM;
    }
  }

  .inactive {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .inactiveChild {
    height: 100%;
    width: 100%;
  }

  .caption {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: $primary;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: $padM $padL $padM $padL;

    .captionHeadline {
      font-size: 1.6em;
      margin-bottom: $padS;
    }
  }
}
