@import "../../style/variables.scss";

.plus {
  position: absolute;
  z-index: 8;
  right: $padL;
  top: $padM;
  width: 30px;
  height: 30px;
  // flex-direction: column;
  // display: flex;
  // align-items: center;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // -webkit-transition: 0.25s ease-in-out;
  // -moz-transition: 0.25s ease-in-out;
  // -o-transition: 0.25s ease-in-out;
  // transition: 0.25s ease-in-out;
}

.plusWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  div {
    position: absolute;
    background-color: $primary;
    border-radius: 30px;
    width: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .plusFirst {
    width: 20%;
  }

  .plusSecond {
    height: 20%;
  }
}
