// COLORS
$black: rgb(34,34,34);
$blackBright: rgb(40,40,40);
$blackLight: rgba(34,34,34,0.7);
$blackLightest: rgba(34,34,34,0.3);
$white: rgb(221,221,221);
$whiteLight: rgba(221,221,221, 0.7);
$whiteLightest: rgba(221,221,221, 0.1);
$primary: #06B7D1;

// PADDINGS
$padS: 12px;
$padM: 24px;
$padL: 36px;

$breakpoint: 800px;
