@import "./style/variables.scss";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $blackBright;
}

.body {
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}


.pages {
  position: relative;
  display: flex;
  flex: 1;

}
