@import '../../style/variables.scss';

.fullGallery {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 600ms;

  &.open {
    pointer-events: all;
    z-index: 100;
    opacity: 1;
  }

  .closeGallery {
    position: absolute;
    display: block;
    z-index: 11;
    right: $padL;
    top: 100px;
  }

  .mainGallery {
    width: 100vw;
    height: 100vh;
  }

  .galleryImg {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 80%;
    top: 10%;
    left: 0;
    // transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform, opacity;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-y: center;
  }

  .galleryArrows {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: $padM;
    width: 100%;
    padding: $padM;

    div {
      cursor: pointer;
      font-size: 4rem;
      padding: $padS;
    }
  }
}

.sliderWrapper {
  padding: $padL;
  width: 100%;
  height: 100vh;

}

.imageLoader {
  display: block;
  width: 100%;
  height: 100%;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  img {
    width: 0;
    height: 0;

    &.loaded {
      width: 100%;
      height: 100%;
      animation: fadeIn 1s ease-in-out;
      animation-fill-mode: forwards;
      object-fit: contain;
    }
  }
}
